@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

html {
font-family: 'Lato', sans-serif;
}

* {
    margin: 0;
}

.base-container{
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
}

.header{
    margin-bottom: 65px;

}

.menu{
    background-color: #222;
    display: flex;
    justify-content: space-around;
    gap: 859px;
    height: 75px;
    align-items: center;
}

.icon-set{
    display: flex;
    gap:41px;
}

.intro{
    display: flex;
    background-color: #F1E4E6;
    gap: 64px;
}

.intro-logo{
    padding-top: 290px;
    padding-bottom: 381px;
}

.logo-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: none;

    color: #222;
    font-family: Lato;
    font-size: 48px;
    font-weight: 900;
    line-height: normal;
}

.logo-text-2{
    font-size: 32px;
    font-weight: 700;
}

.logo-text-3{
    color: #F16D7F;
}

.catalog{
    display: flex;
    flex-wrap: wrap;
    gap:30px;
    text-align: center;
    max-width: 1140px;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 96px;
  
}

.catalog-item{
    position: relative;
}

.photo-icon{
    position: absolute;
    padding: 105px 103px;
} 

.big{
    padding: 65px 490px;
}
.catalog-pics{
    /* position:absolute; */
}


.featured-items{
    display:flex;
    flex-direction: column;
    gap:48px;
    text-align: center;
    /* max-width: 1600px;
    margin:96px 230px 60px; */
    max-width: 1140px;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 60px;
}

.section-title{
    color: #222;
    font-family: Lato;
    font-size: 30px;
    font-weight: 400;
}

.section-text{
    color: #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
}

.items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 50%);
    gap: 30px;
}

.item{
    display: flex;
    flex-direction: column;
    max-width: 360px;
    gap:24px;
}

.item-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    margin: 24px 16px;
    gap:16px;   
}

.item-content-title{
    color: #000;
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
}

.item-content-text{
    color: #5D5D5D;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: normal;
}


.button{
    flex-shrink: 0;
    border-color: #FF6A6A ;
    border-style: solid;
    background: #FFF;
    padding: 15px 39px;

    color: #F26376;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
}

@media screen and (max-width: 1439px){  
  
    .header, .catalog, .featured-items {
        max-width:100%;
    }

    .menu{
        max-width:100%;     
        gap: 424px;
        padding: 18px 32px;
    }

    .intro-image{
        max-width: 386px;
        max-height: 368px;
    }
    
    .intro-logo{   
        max-width: 311px;
        max-height: 92px;
        padding: 138px 33.5px 151.5px 39px;
    }
       
    .catalog{
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        max-width: 100%;
        gap:20px;
        margin-left:16.5px;
        margin-right:16.5px;
        margin-bottom: 110px;
    }  
    
    .catalog-item{
        position: relative;
    }
    
    .catalog-pics{
       
    }
    .photo-icon{
        position: absolute;
        padding-left: auto;
        padding-right: auto;
    } 

    .big-item{
        grid-column-start: span 3; 
        max-width: 100%;
    }

    .big{
       max-width: 159.923px;;
    }
    
    .items{
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(3, 1fr);
        gap: 16px;      
        padding-left:16px ;
        padding-right: 16px;
        padding-bottom: 32px; 
    }
    
}